.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.fixed {
  background-color: orangered;
}

.hidden {
  color: white;
  font-size: 22px;
}

.hidden:hover {
  color: rebeccapurple;
  font-size: 35px;
}
